NODE_ENV=development
LOG_LEVEL=info
PORT=23100
GLOBAL_PREFIX=api
SWAGGER_ENABLED=true
TRUST_PROXY_HOPS=1
CATALOG_GRPC_URL=localhost:25052
IDENTITY_GRPC_URL=localhost:25051
ORDERING_GRPC_URL=localhost:25053
PAYMENT_GRPC_URL=localhost:25054
NATS_URL=nats://localhost:24222
NATS_URL_TEST=nats://localhost:24223
JWT_PUBLIC_KEY=
REDIS_URL=redis://localhost:26379/0
REDIS_URL_TEST=redis://localhost:26379/14
