NODE_ENV=development
LOG_LEVEL=info
DATABASE_URL=postgresql://brewlite:brewlite@localhost:25432/brewlite_catalog
DATABASE_URL_TEST=postgresql://brewlite:brewlite@localhost:25432/brewlite_catalog_test
DATABASE_URL_SHADOW=postgresql://brewlite:brewlite@localhost:25432/brewlite_catalog_shadow
GRPC_URL=0.0.0.0:25052
OPS_PORT=23102
