NODE_ENV=development
LOG_LEVEL=info
DATABASE_URL=postgresql://brewlite:brewlite@localhost:25432/brewlite_payment
DATABASE_URL_TEST=postgresql://brewlite:brewlite@localhost:25432/brewlite_payment_test
DATABASE_URL_SHADOW=postgresql://brewlite:brewlite@localhost:25432/brewlite_payment_shadow
GRPC_URL=0.0.0.0:25054
OPS_PORT=23104
ORDERING_GRPC_URL=localhost:25053

NATS_URL=nats://localhost:24222
NATS_URL_TEST=nats://localhost:24223
REDIS_URL=redis://localhost:26379/0

PAYMENT_PROVIDER=fake
